[Desktop Entry]
Comment=sidux usb fromiso installer
Exec=su-to-root -X -c qt-fll-iso2usb.gui
# Icon=
Name=QT4 USB installer (fromiso)
Categories=Qt;KDE;System;
OnlyShowIn=KDE;
Type=Application
