Source: qt-fll-iso2usb-gui
Section: admin
Priority: extra
Maintainer: Nikolas Poniros <edhunter@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7),
 cdbs,
 imagemagick,
 inkscape,
 libqt4-dev,
 qt4-qmake
Standards-Version: 3.8.4
Homepage: https://noc.sidux.com/cli-installer/browser/qt-fll-iso2usb-gui
Vcs-Svn: svn://svn.berlios.de/fullstory/qt-fll-iso2usb-gui/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/qt-fll-iso2usb-gui/trunk/

Package: qt-fll-iso2usb-gui
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
  fll-iso2usb
Suggests: sidux-manual-common
Description: Qt front-end for fll-iso2usb
 A front-end to call fll-iso2usb program to install
 a live sidux system onto a usb stick.
